<!doctype html>
<html>
    <title>Petition: Sun in Berlin</title>
    <link rel="stylesheet" href="/stylesheet.css">
        <body>
            <div id="title-sun">
                <div id="title">
                    <h1>Sun in Berlin</h1>
                </div>
                <div id="sun">
                    <img src="/suninberlin.png" height="100" width="100" alt="image of the sun">
                </div>
            </div>
            <div id="body">
                {{{ body }}}
            </div>
        </body>
</html>
