
<div>
    <p>Excusez-moi, all fields must be filled in. Try again?</p>
    <form action="/petition" method="post">
      <input id="firstname" type="text" name="firstname" value="First Name"><br>
      <input id="lastname" type="text" name="lastname" value="Last Name"><br>
      <canvas id="canvas" width="200" height="100" name="canvas" value="accepted"></canvas><br>
      <input id="submit-button" type="submit" value="Submit">
    </form>
</div>
