<section class="rain"></section>
<section>
    <h2>Register</h2>
    <div>
        <form method="post">
            <input id="first" type="text" name="first" placeholder="First Name" value="a" required><br>
            <input id="last" type="text" name="last" placeholder="Last Name" value="a" required><br>
            <input id="email" type="text" name="email" placeholder="Email" value="a@a.nl"required><br>
            <input id="password" type="password" width="200" height="100" value="a" name="password" placeholder="password" required></input><br>
            <input id="submit-button" type="submit">
        </form>
    </div>
</section>
