<div id="thank-you-div">

    <div id="thank-you-line">
        <h1>You made the right decision. <br>
        <h1>Thanks for signing!</h1>
        <img src="{{signatureImage}}">
    </div>
    <div id="signers-line">
        <p>Check out who else <a href="/petition/signers"> signed</a></p>
    </div>

</div>
