<div id="thank-you-div">

    <div id="thank-you-line">
        <h2>You made the right decision. <br>
        <h2>Thanks for signing!</h2>
        <img src="{{signatureImage}}">
    </div>
    <div id="signers-line">
        <p>Check out who else <a href="/petition/signers"> signed</a></p>
        <p>Edit your<a href="/petition/profile"> profile</a></p>
        <p>Unsign<a href="/petition/unsign"> BOO :(</a></p>
    </div>

</div>
