<div id="signers-div">
    <h2>Everyone with the <img src="/thesun.png" alt="sun emoji"> in their <img src="/heart.png" alt="heart emoji"><img src="/heart.png" alt="heart emoji"></h2>
    {{#each signers}}
        <p><li>{{this.first}} {{this.last}}</li></p>
    {{/each}}
</div>
