<div id="signers-div">
    <h1>Everyone with the <img src="/thesun.png" alt="sun emoji"> in their <img src="/heart.png" alt="heart emoji"><img src="/heart.png" alt="heart emoji"></h1>
    {{#each signers}}
        <li>{{this.first}} {{this.last}}</li>
    {{/each}}
</div>
