* {
    box-sizing: border-box;
}
div, form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section {
    display: block;
}
input {
    border: 2px solid black;
    background-color: rgb(220, 222, 232);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}
input:hover {
    background-color: rgb(0, 117, 255);
    color: white;
}
#title-sun {
    display: block;
    margin: 30px;
}
#description, #thank-you-line {
    width: 50vw;
    border: 2px solid black;
    padding: 15px;
    box-shadow: 16px 14px -10px rgb(220, 225, 226);
}
#body {
    margin: 10px;
    width: 100%;
}
canvas {
    background-color: white;
    border-style: outset;
    border-radius: 30px;
    margin: 10px;
}

h1 {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    line-height: 75px;
    font-weight: bolder;
    padding: 3% 220px 0 220px;
    margin-left: 15px;
}
h1 img {
    width: 60px;
    height: 60px;
}
h2 {
    font-family: "Helvetica Neue";
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: bolder;
}
p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bolder;
}
#thank-you-div {
    justify-content: center;
    display: block;
}
#signers-div img {
    height: 30px;
}
#submit-button {
    background-color: rgb(184, 186, 194);
}

/* Rain________________________________________ */
html{height:100%;}
/* #sun-background {
    background: linear-gradient(
      red, #f03e06
    );
} */
body {
background:#0D343A;
background:-webkit-gradient(linear,0% 40%,0% 100%, from(white), to(rgb(0, 125, 255)) );
background: -moz-linear-gradient(top, #1f2121 0%, rgba(50, 63, 65, 1) 100%);
overflow:hidden;}

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(133, 220, 237, 1) ), to(white)  );
  background: -moz-linear-gradient(top, rgba(133, 220, 237, 1) 0%, rgba(235, 239, 244, 0.7) 100%);
	width:2px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}
